.btn{
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}
.menu{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    width: 100%;
    /* flex-direction: row; */
    /* padding-right: 50px; */
}
.auth-menu{
    display: flex;
    /* border: 2px solid black; */
    width: 15%;
    justify-content: space-around;
    
}

  